#root{
    --primary-color:#8e24aa;
    --white-color:#fff;
    --body-color:#F2F3F4;
    --box-shadow:1px 1px 20px #88888860;
    --image-shadow:2px 2px 10px #88888860;
    --search-shadow:1px 1px 10px #88888833;
}